* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  height: 100%;
  background-color: rgb(252, 252, 241);
}

h1 {
  margin-top: 40px;
  font-size: 70px;
  color: rgb(134, 101, 139);
  text-align: center;
}

h2 {
  text-align: center;
  animation-duration: 6s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
h3 {
  color: rgb(95, 94, 94);
  font-size: 25px;
  margin-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
}

h4 {
  text-align: end;
  margin-right: 160px;
}

.yogatitulo {
  font-size: 50px;
}

.yoga {
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 100px;
}

.mainindex {
  margin-bottom: 300px;
}

.mainsobre {
  margin-bottom: 215px;
}

.noelia {
  margin-bottom: 50px;
}

.container-fluid {
  background-color: rgb(252, 252, 241);
}

ul.navegacion {
  list-style-type: none;
}
ul.navegacion li {
  display: inline-flex;
  margin-top: 20px;
}
ul.navegacion li a {
  font-size: 110%;
  text-decoration: none;
  padding: 1rem;
}

header {
  border-bottom: solid 1px rgb(65, 168, 183);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-items: center;
}

.navbar-brand {
  margin-right: 20px;
  margin-left: 20px;
}

.navbar {
  padding: 0%;
}

a {
  color: rgb(134, 101, 139);
  text-decoration: none;
}
a:hover {
  color: #0e0e0e;
}

footer {
  background-color: rgb(242, 230, 239);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}
footer a {
  font-size: 20px;
}
footer p {
  color: rgb(133, 133, 133);
}

.sob1 {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.sob2 {
  width: 10%;
  height: 10%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  margin-left: 45%;
  margin-bottom: 30px;
}

form {
  background-color: rgb(252, 252, 241);
}

input {
  background-color: #fbfbfb;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button, .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border: none;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
button span, .btn span {
  color: #fbfbfb;
  flex: 1;
  text-align: center;
}
button p, .btn p {
  color: #fbfbfb;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.card-footer form button[type=submit], .card-footer form [type=submit].btn {
  width: 100%;
}

.cita {
  margin-bottom: 200px;
}

.formulariocontacto {
  margin-bottom: 200px;
}
.formulariocontacto h3 {
  text-align: center;
}

.formularioconsulta {
  margin-bottom: 200px;
}

.carousel {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: initial;
}

.carousel img {
  width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 8px;
}

.carousel .slick-list {
  margin: 0 -100px;
}

.carousel .slick-slide {
  margin: 0 20px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.carousel .slick-slide.slick-active {
  opacity: 1;
}

.carousel .slick-slide:first-child {
  margin-left: -80px;
}

.carousel .slick-slide:last-child {
  margin-right: -80px;
}

.carousel .slick-next {
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: #ab4493;
}

.carousel .slick-prev {
  left: 20px;
}

.carousel .slick-next {
  right: 20px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.card p {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h3 {
    margin: auto;
    margin-top: 50px;
  }
  h4 {
    margin-top: 30px;
  }
  .text-sm-end {
    width: 100%;
  }
  .carousel {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .carousel .slick-list {
    margin: 0;
  }
  .carousel .slick-slide {
    margin: 3px;
  }
  .carousel .slick-slide:first-child {
    margin-left: 0;
  }
  .carousel .slick-slide:last-child {
    margin-right: 0;
  }
  header {
    grid-area: encabezado;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .navbar-brand {
    display: none;
  }
  .navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .owl-dots {
    display: none;
  }
  .owl-nav {
    display: none;
  }
  .cita {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .tiposterapias {
    display: none;
  }
}
@media (max-width: 768px) {
  button,
  .btn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */