h1 {
    margin-top: 40px;
    font-size: 70px;
    color: map-get($paleta_de_colores, rosatitulos);
    @include alinearTexto(center);
}

h2 {
    @include alinearTexto(center);
    animation-duration: 6s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

h3 {
    color: map-get($paleta_de_colores, gris);
    font-size: 25px;
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
}

h4 {
    @include alinearTexto(end);
    margin-right: 160px;
}

.yogatitulo {
    font-size: 50px;
}

.yoga {
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 100px;
}

.mainindex {
    margin-bottom: 300px;
}

.mainsobre {
    margin-bottom: 215px;
}

.noelia {
    margin-bottom: 50px;
}