@media only screen and (max-width: 600px) {
    h3 {
        margin: auto;
        margin-top: 50px;
    }

    h4 {
        margin-top: 30px;
    }

    .text-sm-end {
        width: 100%;
    }

    .carousel {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .carousel .slick-list {
        margin: 0;
    }

    .carousel .slick-slide {
        margin: 3px;
    }

    .carousel .slick-slide:first-child {
        margin-left: 0;
    }

    .carousel .slick-slide:last-child {
        margin-right: 0;
    }

    header {
        grid-area: encabezado;
        display: flex;
        flex-direction: column;
        justify-content: start;
        top: -100px;
        animation: slideIn 1s forwards;
    }

    @keyframes slideIn {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    .navbar-brand {
        display: none;
    }

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
    }

    ul.navegacion li a {
        padding: 8px;
    }

    .owl-dots {
        display: none;
    }

    .owl-nav {
        display: none;
    }

    .cita {
        margin-bottom: 50px;
    }

    span {
        text-align: center;
    }

    .ubicacion-container {
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }
    .datos-ubicacion {
        border-right: none;
        margin-left: 6rem;
    }

    .mapa-ubicacion iframe {
        padding-left: 3rem;
        width: 85%;
    }

    #enviar { 
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .tiposterapias {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 846px) {

    button,
    .btn {
        width: 100%;
    }

    .navbar-brand {
        display: none;
    }

    .col-auto {
        width: 70%;
    }

    h3 {
        margin: auto;
    }

    ul li a {
        padding: 0px;
        font-size: 3px;
    }

    .mapa-ubicacion iframe {
        margin-top: 5rem;
        width: 150%;
    }
    
    .datos-ubicacion {
        margin-left: 5rem;
    }
}