@media only screen and (max-width: 600px) {
    h3 {
        margin: auto;
        margin-top: 50px;
    }

    h4 {
        margin-top: 30px;
    }

    .text-sm-end {
        width: 100%;
    }

    .carousel {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .carousel .slick-list {
        margin: 0;
    }

    .carousel .slick-slide {
        margin: 3px;
    }

    .carousel .slick-slide:first-child {
        margin-left: 0;
    }

    .carousel .slick-slide:last-child {
        margin-right: 0;
    }

    header {
        grid-area: encabezado;
        display: flex;
        flex-direction: column;
        justify-content: start;
        top: -100px;
        animation: slideIn 1s forwards;
    }

    @keyframes slideIn {
        from {
          transform: translateY(-100%); /* posición inicial */
        }
        to {
          transform: translateY(0); /* posición final */
        }
      }

    .navbar-brand {
        display: none;
    }

    .navegacion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .owl-dots {
        display: none;
    }

    .owl-nav {
        display: none;
    }

    .cita {
        margin-bottom: 50px;
    }
}

    @media only screen and (max-width: 1200px) {
        .tiposterapias {
            display: none;
        }
    }

    @media (max-width: 768px) {

        button,
        .btn {
            width: 100%;
        }
    }