$paleta_de_colores: (
    fondo: rgb(252, 252, 241), 
    foot:  rgb(242, 230, 239),
    rosatitulos: rgb(134, 101, 139),
    gris: rgb(95, 94, 94),
    celeste: rgb(65, 168, 183),
);

$colores_form: (
    rosa: #ab4493, 
    blanco: #fbfbfb,
    negro: #0e0e0e,
);

