.carousel {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

.carousel img {
    width: 100%;
    height: auto;
    margin-right: 10px;
    border-radius: 8px;
}

.carousel .slick-list {
    margin: 0 -100px;
}

.carousel .slick-slide {
    margin: 0 20px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.carousel .slick-slide.slick-active {
    opacity: 1;
}

.carousel .slick-slide:first-child {
    margin-left: -80px;
}

.carousel .slick-slide:last-child {
    margin-right: -80px;
}

.carousel .slick-next {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    color: #ab4493;
}

.carousel .slick-prev {
    left: 20px;
}

.carousel .slick-next {
    right: 20px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}