.carousel {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;

    img {
        width: 100%;
        height: auto;
        margin-right: 20px;
        border-radius: 10px;
    }

    p {
        margin-top: 10px;
        @include alinearTexto(center);
    }

    .slick-list {
        margin: 0 -100px;
    }

    .slick-slide {
        margin: 0 20px;
        opacity: 0.7;
        transition: opacity 0.3s;
    }

    .slick-slide.slick-active {
        opacity: 1;
    }

    .slick-slide:first-child {
        margin-left: -80px;
    }

    .slick-slide:last-child {
        margin-right: -80px;
    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 100;
        }
    }
}