footer {
    background-color: map-get($paleta_de_colores, foot);
    @include alinearTexto(center);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10px;

    a {
        font-size: 20px;
    }

    p {
        color: rgb(133, 133, 133);
    }
}
