.container-fluid {
    background-color: map-get($paleta_de_colores, fondo);
}

ul.navegacion {
    list-style-type: none;

    li {
        display: inline-flex;
        margin-top: 20px;

        a {
            font-size: 110%;
            text-decoration: none;
            padding: 1rem;
        }
    }

}

header {
    border-bottom: solid 1px map-get($paleta_de_colores, celeste);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-items: center;
}


.navbar-brand {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar {
    padding: 0%;
}